<section>
    <form>
      <input type="text" placeholder="Filter by city" />
      <button class="primary" type="button">Search</button>
    </form>
  </section>
  <section class="results">
    <!-- 
        This is the loop that will iterate over the 
        housingLocationList array and render a 
        housing-location component for each item.

        The housingLocation is instatiate withe 
        each item in the array through the iterations,
        so, the housingLocation refers to the variable
        used int the *ngFor directive.
    -->
    <app-housing-location 
      *ngFor="let housingLocation of housingLocationList"
      [housingLocation]="housingLocation"
    ></app-housing-location>
  </section>